*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.container .container-content{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
}

.container-content .logo img{
    margin: 16px;
    width: 139px;
    height: 60px;
    vertical-align: middle;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
}

.btn{
    font-weight:600;
    font-size: 16;
    padding: 12px 16px;
    color: #FFFFFF; 
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 24px ;
    margin-bottom: 24px;
}

#banner{
    background: url("./assets/hero-bg.png") no-repeat;
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#banner .banner-container{
     max-width: 1360px;
     margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 16px;
  
}

.banner-content .btn2{
    font-weight:600;
    width: 229px;
    height: 35px;
    border-radius: 100px;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
}
.banner-content h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #30B868;
}
.banner-content p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.paragraph{
    margin-top: 16px;
}

 .vdo-btn:hover{
    background: #627382;
 }
 .top-btn:hover{
    background: #87c7cd;
 }

.l-button{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
 .btn3{
    width: 251px;
    height: 52px;
    padding: 16px 16px 16px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.btn4{
    font-size: 16px;
    width: 198px;
    height: 52px;
    padding-left: 16px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    display: inline-flex;
    gap: 2px;
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
}

#notes{
    max-width: 1600px;
    height: 448px;
}
#notes .notes-container{
    max-width: 1360px;
    height: 153px;
     margin: 0 auto;    
}

#notes .notes-container .heading{
    max-width: 1360px;
    height: 117px;
}
#notes .notes-container .heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    padding-top: 69px;
}
#notes .notes-container .paragraph{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-top: 25px;
}
#notes .card-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1360px;
    height: 300px;
    margin-top: 44px;
    gap: 24px;
    margin-left: 50px;
    
}
.card-section .card{
    max-width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8 0  #000000;

}
.card h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.card .circle-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.card img{
    width: 32px;
    height: 32px;
    
} 
.card-section h3{
    font-size: 24px;
    font-weight: 600;
}
.card .para{
    margin-top: 16px;
    line-height: 20px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 69.5px;
}

.second-hero{
    padding: 120px;
    width: 1600px;
    height: 840px;
    gap: 40px;
    background-color: #FFFFFF;
}
.hero-container{
    display: flex;
    width: 1360px;
    height: 600px;
    align-items: center;
    gap: 60px;
    background-color: #FFFFFF;
}
.hero-container img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.hero-container .text-container .heading2{
    font-size: 16px;
    color: #30B868;
    line-height: 20px;
    text-align: left;
    margin-bottom: 16px;
}
.hero-container .text-container .heading3{
    width: 700px;
    height: 117px;
    margin-bottom: 16px;
}
.hero-container .text-container .heading3 h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: left;
}
.hero-container .text-container .para2{
    margin-bottom: 40px;
    width: 700px;
    height: 60px;
}
.hero-container .text-container .para2 p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    text-align: left;
}
.hero-container .text-container .idea{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.challenge{
    width: 1360px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 80px 40px 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    margin: 0 auto;
}
.challenge .challenge-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.challenge .challenge-container .text-content .heading4{
    margin-bottom: 16px;
}
.challenge .challenge-container .text-content h1{
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
}
.footer{
    width: 100%;
    height: 348px;
    background-color: rgba(44, 6, 44, 0.956);
    color: ;
    padding: ;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-right: 120px;
    padding-left: 120px;
    margin-top: 120px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.footer-logo img{
    width: 139px;
    height: 60px;
}
.footer-logo span{
    font-size: 8px;
    font-weight:400;
    color: red;

}
.footer-social{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
}
.footer-social p{
    margin-bottom: ;
    font-size: ;
    color: #FFFFFF;
}
.footer-social .icons{
    display: flex;
    gap: ;
    justify-content: flex-end;
}
.footer-social a{
    
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 50%;
    gap: 10px;
}

.footer-bottom{
    text-align: center;
    margin-top: 110px;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA; 
}
.footer-bottom hr{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
}
